<!DOCTYPE HTML>
<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>

    <body>

        <section class='page-width'>
            <div id='info-box-mount-point'><%-reacthtml%></div>
        </section>

        <script src="/javascripts/bundle.js"></script>
    </body>

</html>